.p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover .p {
  display: block;
}
p span:first-child , p span:nth-child(3){
  background-color: yellow;
  padding: 20px;
}
section::before , section::after {
	content: "***********";
}
p::first-letter {
  color: #ff0000;
  font-size: 200%;
}
img {opacity: 0.5}
img:hover {opacity: 1}
*, body * {
	box-sizing:border-box
}
aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
aside ul li a {text-decoration: none;}
aside ul li a:link
 {text-decoration: underline;}
 aside ul li a:visited, aside ul li a:hover,aside ul li a:active
 {text-decoration: none; color: chocolate; outline: none}
aside ul li  {display: inline-block; padding: 10px; margin: 5px}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}
div.gallery:hover .desc {
  color:red; background-color: beige;
}
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
div.galleryParent::after {
	content: "";
	clear:both;
    display: table
}div.galleryParent::after {
	content: "";
	clear:both;
    display: table
}div.galleryParent::after {
	content: "";
	clear:both;
    display: table
}
a[target="_blank"] {
	color: green;
}

#margin-left-10 {
	margin-left: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-left-30 {
	margin-left: 30px;color:blue
}
.w-50-percent {
	width: 50%;	
}
ul.mainList {
	list-style-type: none;
}
ul li.myList {
	color: blue;
}
ul.mainList li.myList{color:green}
